<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backlog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Backlog.Properties.Settings.Database" connectionString="Data Source = mysql.labranet.jamk.fi; Initial Catalog = H3090; Persist Security Info = True; User ID = H3090; Password = AW92Tbo184gtBNNSNgKEiOClrY4we7ON" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <userSettings>
    <Backlog.Properties.Settings>
      <setting name="Color" serializeAs="String">
        <value>White</value>
      </setting>
    </Backlog.Properties.Settings>
  </userSettings>
</configuration>